<div class="wrapper" [class.isScrolling]="isScrolling">
    <div class="text">
        <!-- <h2>front-end</h2> -->
        <div class="headline">
            <h1 appParallax [ratio]="0.24">developer.</h1>
            <span class="viliazeisig slideInBottom"  style="animation-delay: 350ms">VILIA ZEISIG</span>
            <p class="subline slideInBottom" appParallax [ratio]="-0.5" style="animation-delay: 450ms">I am a curiousity-driven Web Developer. <br> Connecting the dots between ideas,<br> code & final product.
            <p class="subline mobile slideInBottom" appParallax [ratio]="-0.3" style="animation-delay: 450ms">I am a curiousity-driven Web Developer. Connecting the dots between ideas, code & final product.
            </p>
        </div>
    </div>

    <!-- left side: Position absolute -->
    <div class="sideLeft">
        <div class="icons" [class.isScrolling]="isScrolling">
            <a (click)="navigation.forceNavigate('contact')" routerLink="/#contact" class="slideInBottom" style="animation-delay: 1000ms">
                <img src="assets/img/email.svg" alt="email">
            </a>
            <a href="https://github.com/ViliaZ" target="_blank" class="slideInBottom" style="animation-delay: 800ms">
                <img src="assets/img/github.svg" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/vilia-zeisig-b14323107/" target="_blank" class="slideInBottom" style="animation-delay: 600ms">
                <img src="assets/img/linkedin.svg" alt="linkedin">
            </a>
        </div>
    </div>

    <!-- // SCROLL ANIMATION WITH MOUSE -->
    <img [class.isScrolling]="isScrolling" id="scrollMouse" src="assets/img/scrollMouse.png" alt="">
</div>

<!-- // CONSIDER USING SOMEDAY -->
<!-- <app-scroll-animation></app-scroll-animation>  -->