:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
}

a {
    text-decoration: none;
    display: flex;
}

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 56px var(--paddingHero) 12px var(--paddingHero);

    &.isScrolling:after {
        opacity: 0;
        bottom: -20px;
    }

    // right bottom: Gradient on mouse animation
    &:after {
        position: absolute;
        right: -2px;
        bottom: -60px;
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(176deg, rgba(0, 0, 0, 0) 0%, rgba(146, 146, 146, 0.562) 54%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(176deg, rgba(0, 0, 0, 0) 0%, rgba(234, 207, 3, 0.722) 54%, rgba(0, 0, 0, 0) 100%);
        height: 180px;
        width: 120px;
        z-index: 0;
        opacity: 1;
        transition: all 580ms ease-in-out;
        animation: changeHeight 2s infinite linear alternate-reverse;

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    @keyframes changeHeight {
        from {
            height: 152px;
        }
        to {
            height: 180px;
        }
    }
}

// ****** LEFT SIDE ICONS ******

.sideLeft {
    position: absolute;
    bottom: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4em;

    @media only screen and (max-width: 600px) {
        width: 100%;
        padding-bottom: 32px;
    }
}

.icons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    gap: 1.2em;
    filter: opacity(0.5);

    @media only screen and (max-width: 700px) {
        flex-direction: row;
        width: 100%;
    }

    &.isScrolling:before {
        filter: opacity(0);
    }

    img {
        width: 30px;
        filter: invert(1);
        cursor: pointer;

        &:hover{
            filter: invert(79%) sepia(84%) saturate(1038%) hue-rotate(3.1deg) brightness(106%) contrast(91%);
        }
    }

    // fine vertical STROKE / line
    &:before {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateY(100%);
        transform-origin: top;
        content: "";
        height: 90px;
        width: 1px;
        background-color: white;
        filter: opacity(0.8);
        transition: all 750ms ease-in-out;
        animation: show-up 550ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        @media only screen and (max-width: 700px) {
            display: none;
        }
    }

    &:after {
        position: absolute;
        content: "vzeisig@gmail.com";
        top: -40px;
        left: 4px;
        transform: rotate(-90deg);
        transform-origin: top left;
        font-weight: 200;
        letter-spacing: 3px;
        filter: opacity(0.7);
        animation: show-up 350ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 1300ms;

        @media only screen and (max-width: 1200px) {
            display: none;
        }
    }
}

.text {
    position: relative;
    transform: translateY(1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    position: relative;
    transform: translateX(-0.07em) translateY(0.2em);
    z-index: 5;
    font-size: calc(44px + 4.5vw);

    @media only screen and (max-width: 760px) {
        font-size: calc(33px + 6.5vw);
    }

    // FRONT END
    &:after {
        position: absolute;
        content: "FRONTEND";
        font-family: "Open Sans", sans-serif;
        font-size: calc(1em + 3vw);
        font-weight: 800;
        letter-spacing: -8px;
        opacity: 0.3;
        top: -0.1em;
        left: 50%;
        transform: translateY(-0.45em) translateX(-50%);
        background: -webkit-linear-gradient(rgb(253, 253, 253), rgb(0, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -1;
        animation: showUp 2950ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 520ms;

        @media only screen and (max-width: 400px) {
            font-size: 17vw;
        }
        @media only screen and (max-width: 550px) {
            font-size: 19vw;
            letter-spacing: -4px;
        }
    }
}

.viliazeisig {
    position: relative;
    text-align: right;
    transform: translateY(-1.4em) translateX(-0.1em);
    letter-spacing: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: calc(13px + 0.3vw);
    color: var(--primary-light);

    // mobile: left text and right side line
    @media only screen and (max-width: 900px) {
        transform: translateY(-1.4em) translateX(0em);
        text-align: left;
        padding-top: 1.1em;
        margin-top: 0.2em;
    }

    // horizontal yellow line
    &:after {
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translateX(16px) translateY(2px);
        content: "";
        width: 60%;
        height: 0.07em;
        background-color: var(--accent);

        @media only screen and (max-width: 900px) {
            top: 8px;
        }
        @media only screen and (max-width: 660px) {
            width: 56%;
        }
    }
}

.headline {
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateY(-44px);
}

.subline {
    text-align: left !important;
    font-size: calc(12px + 0.3vw);
    font-weight: 400;
    margin-top: 0.5em;

    @media only screen and (max-width: 900px) {
        display: none;
    }

    &.mobile {
        display: none;

        @media only screen and (max-width: 900px) {
            display: flex;
            max-width: 350px;
        }
        @media only screen and (max-width: 580px) {
            display: flex;
            max-width: 300px;
        }
        @media only screen and (max-width: 330px) {
            max-width: 270px;
        }
    }
}

.section-right {
    width: 50%;
    height: 100%;
    padding-left: var(--padding-Middle);
}

// ****** SCROLL SVG Mouse ******
#scrollSVG {
    position: absolute;
    right: 37px;
    bottom: 80px;
    width: 40px !important;
    z-index: 111;
    animation: moveUpDown 2s infinite linear alternate-reverse;
    filter: invert(1) opacity(1) blur(0);
    transition: 820ms ease-in-out;

    @media only screen and (max-width: 600px) {
        display: none;
    }

    &.isScrolling {
        filter: invert(1) opacity(0) blur(4px);
    }

    path {
        fill: var(--primary-light);
        filter: invert(1);
    }
}

@keyframes moveUpDown {
    from {
        bottom: 60px;
        opacity: 0.6;
    }
    to {
        bottom: 90px;
        opacity: 1;
    }
}

// old version with line
app-scroll-animation {
    position: absolute;
    bottom: 50px;
}

.slideInBottom{
    animation: slide-in-bottom 630ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(800px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
