/* keyboard settings */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.keyboard {
    position: absolute;
    bottom:100px;
    left: -10%;
    transform-origin: bottom;
    color: var(--primary-light);
    // transform: rotate(-45deg) translate(24%, -50%);

    --key_size: calc(90vw / 25) /* 60px; */;
    --keyboard_clr_background: rgb(254, 253, 253);
    --keyboard_clr_shadow: rgba(0, 0, 0, 1);
    --key_clr_background: rgb(243, 243, 243);
    --key_clr_shadow: rgb(80, 80, 80);
    --key_clr_text: white !important;
    --key_font: "Lato", sans-serif;
    --key_clr_border: rgb(0, 0, 0);
    --key_clr_border_hover: rgb(200, 35, 35);
    --key_clr_border_active: rgb(20, 100, 20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body::after {
    position: fixed;
    z-index: -1;
    content: "";
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    // background-color: #383838;
    // background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

.keyboard {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: calc(var(--key_size) / 2);
    // border-radius: calc(var(--key_size) / 5);
    // background-color: var(--keyboard_clr_background);
    // padding: calc(var(--key_size) / 2);
    user-select: none;
    // border: calc(var(--key_size) / 25) solid var(--key_clr_border);
    // box-shadow: 0 0  calc(var(--key_size) / 10) calc(var(--key_size) / 20) var(--keyboard_clr_shadow);
    font-family: var(--key_font);
}
.section {
    display: grid;
    grid-template-rows: repeat(5, var(--key_size));
    grid-gap: calc(var(--key_size) / 10);
}
.section.left {
    grid-template-columns: repeat(30, calc(var(--key_size) / 2));
}
.section.right {
    grid-template-columns: repeat(6, calc(var(--key_size) / 2));
}
.key {
    // background-color: var(--key_clr_background);
    // border: calc(var(--key_size) / 50) solid var(--key_clr_border);
    border-radius: calc(var(--key_size) / 10);
    grid-column: span 2;
    font-size: calc(var(--key_size) / 3.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: rgba(200, 199, 199, 0.35) 0px 5px 15px;
    // box-shadow: calc(var(--key_size) / 25) calc(var(--key_size) / 25) calc(var(--key_size) / 25) var(--key_clr_shadow);
}
.key i {
    font-weight: 600;
}
.emptykey {
    grid-column: span 2;
}
.key span {
    /* font-size: .95em; */
}
.key:hover {
    border-color: var(--key_clr_border_hover);
}
.key:active {
    margin: calc(var(--key_size) / 25) 0 0 calc(var(--key_size) / 25);
    border-color: var(--key_clr_border_active);
    box-shadow: none;
}
.backspace {
    grid-column: span 4;
}
.tab {
    grid-column: span 3;
}
.backslash {
    grid-column: span 3;
}
.capslock {
    grid-column: span 4;
}
.enter {
    grid-column: span 4;
}
.leftshift {
    grid-column: span 5;
}
.rightshift {
    grid-column: span 5;
}
.leftctrl {
    grid-column: span 3;
}
.rightctrl {
    grid-column: span 3;
}
.space {
    grid-column: span 20;
}
