<!-- //Rightaligned version of about section -->

<div class="wrapperAll">
    <div class="sectionLeft">
        <div class="textwrapper">
            <h3>About Me</h3>
            <h2>About Me</h2>
            <p>For me, being a Web Developer means to finally turn full circle. Solving challenges with code is like a
                perfect match to combine my strength and interests.</p>
            <p>nd then there is a creative side ...
                With a huge passion for all things (hand)written. Typography, Handlettering and Calligraphy in both
                ways, digital and physical.

                Anyone who doesn`t love the beauty of (un)necessary details?
            </p>
        </div>
    </div>

    <div class="sectionRight">

    </div>
</div>
