<div class="wrapperAll">

    <div class="sectionLeft">
        <img src="assets/img/Vilia-editSmudgeSmall.png">
        <div appParallax [ratio]="-0.1" class="imagesWrapper">
        </div>
    </div>

    <div class="sectionRight">
        <div class="textwrapper">
            <div class="headlines">
                <h3 appParallax [ratio]="0.14" id="h3Parallax" class="h3Right">ABOUT ME</h3>
                <h2>about me.</h2>
            </div>
            <p class="container">
                The various ways to use code in a creative and meaningful manner always fascinated me. Then, during my training in Software Development, I discovered this to be a perfect combination of
                my strengths and interests.</p>

            <div class="container withIcon">
                <img class="icon" src="assets/img/science.png" alt="science">
                <p>
                    Coming from a background of medical science and <br> research I developed a structured and analytical thinking, which is of great help in programming. <br> 
                </p>
            </div>
            <div class="container withIcon">
                <img class="icon" src="assets/img/nib.png" alt="nib">
                <p>But I also enjoy creative have a huge passion for all things (hand)written. Typography and Calligraphy.
                </p>
            </div>
            <p class="container">Learning Web Development meant to finally turn full circle and use my natural
                curiousity to improve steadily - one coding challenge at a time.
            </p>
        </div>
    </div>
</div>