<div class="wrapperAll">

    <div class="sectionLeft">
        <img src="assets/img/Vilia-editSmudgeSmall.png">
        <div appParallax [ratio]="-0.1" class="imagesWrapper">
        </div>
    </div>

    <div class="sectionRight">
        <div class="textwrapper">
            <div class="headlines">
                <h3 appParallax [ratio]="0.14" id="h3Parallax" class="h3Right">about me</h3>
                <h2>about me.</h2>
            </div>
            <p class="container">
                Creating functional and beautiful things with Code is like a perfect match for me to combine my
                strengths and interests. </p>

            <div class="container withIcon">
                <img class="icon" src="assets/img/science.png" alt="science">
                <p>
                    Through my background in medical science and (neuro)research I layed a strong foundation for
                    analytical
                    and structured thinking.
                </p>
            </div>
            <div class="container withIcon">
                <img class="icon" src="assets/img/nib.png" alt="nib">
                <p>And I also have a huge passion for all things (hand)written. Typography, Lettering and Calligraphy.
                </p>
            </div>
            <p class="container">Learning Web Development meant to finally turn full circle and use my natural
                curiousity to improve steadily - one coding and design problem at a time …
            </p>
        </div>
    </div>
</div>