:root {
    --scroll-padding-top: 300px;
    --paddingMain: 6.5vw;
    --paddingTopBottom: 100px;
    --padding-Middle: calc(2em + 2.6vw);
    --paddingHero: 80px; 
    --maxwidth: 1400px;
    --maxwidthMobile: 800px; 
    --mobileMarginTop: calc(44px + 3vh);
    --font-xbold: 800;
    --font-bold: 600;
    --font-medium: 300;
    --font-light: 200;
    --font-small: 12px;
    --bg: #02020a;
    --bg-light: rgb(150, 149, 149);
    --primary-dark: #8d9ab753;
    --primary-light: #e6e7e8;
    --secondary: #c0c0c0;
    --accent: #ead003;
    --hover: darkgrey;
}
