<div class="wrapperAll">
    
    <div class="sectionLeft">
        <div class="textwrapper">
            <div class="headlines">
                <h3 appParallax [ratio]="0.17" class="h3Left">skillset</h3>
                <h2 >skillset.</h2>
            </div>
            <p>
                I have highlighted my front-end development skills, which have been in use in real-world projects.<br><br>
                This section will get updated soon, as I will finish a fullstack development training in 2022.
            </p>
            <p>
            </p>
        </div>
    </div>
    
    <div class="sectionRight">
        <div class="skill-row">
            <div class="skill">
                <img src="assets/img/skills/angular-fill.svg" alt="Angular">
                <span>Angular</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/javascript.svg" alt="JavaScript">
    
                <span>JavaScript</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/typescript.svg" alt="TypeScript">
                <span>TypeScript</span>
            </div>
        </div>
    
        <div class="skill-row">
            <div class="skill">
                <img src="assets/img/skills/html-fill.svg" alt="HTML">
                <span>HTML</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/css-fill.svg" alt="CSS">
                <span>CSS</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/firebase.svg" alt="Firebase">
                <span>Firebase</span>
            </div>
        </div>
    
    
        <div class="skill-row">
            <div class="skill">
                <img src="assets/img/skills/git.svg" alt="GIT">
                <span>GIT</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/api-round.svg" alt="API">
                <span>REST-API</span>
            </div>
    
            <div class="skill">
                <img src="assets/img/skills/wordpress.svg" alt="wordpress">
                <span>Wordpress</span>
            </div>
        </div>
    
    </div>
</div>