:host{
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: var(--paddingMain);
    padding-right:  var(--paddingMain);
    padding-top: 188px;
    padding-bottom: var(--paddingTopBottom);
    background-color: var(--bg);
}


h2{
    margin-top: 24px;
    margin-bottom: 12px;
    white-space: unset;


    &.smaller{
        font-size: 32px;
    }
}

