:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: var(--paddingMain);
    padding-right:  var(--paddingMain);
    padding-top: var(--paddingTopBottom);
    padding-bottom: var(--paddingTopBottom);
}

h2{
    margin-top: 24px;
    margin-bottom: 12px;
}