<div class="wrapperProject">

    <div class="leftSection bgImage, bgImage{{projectIndex}}">
        <div class="imageWrapper" routerLink="{{ projectsService.projects[projectIndex].url}}">
            <a href="{{ projectsService.projects[projectIndex].url}}" target="_blank">
                <img class="mainImage" src="{{projectsService.projects[projectIndex].image}}" alt="projectImage">
            </a>
            <a href="{{ projectsService.projects[projectIndex].url}}" target="_blank">
                <img class="overlay" *ngIf="projectIndex == 2" src="assets/img/projects/fish.gif">
            </a>
            <!-- //Join -->
            <a href="{{ projectsService.projects[projectIndex].url}}" target="_blank">
            <img *ngIf="projectIndex == 0" appParallax [ratio]="0.035" class="overlay join"
                src="assets/img/projects/Join-layer2.png">       
            </a>

            <!-- //TokenX -->
            <a href="{{ projectsService.projects[projectIndex].url}}" target="_blank">
            <img *ngIf="projectIndex == 1" appParallax [ratio]="-0.03" class="overlay tokenx"
                src="assets/img/projects/token-bg.png">
            </a>
            <!-- //Sharky -->
            <a href="{{ projectsService.projects[projectIndex].url}}" target="_blank">

            <img *ngIf="projectIndex == 2" appParallax [ratio]="-0.03" class="overlay sharky"
                src="assets/img/projects/light.png">
            </a>

        </div>
    </div>

    <div class="rightSection">
        <div class="projectDescription">
            <div class="number">
                <span>{{ projectsService.projects[projectIndex].count }}</span>
                <div class="line"></div>
            </div>

            <div class="infos">
                <h4>{{ projectsService.projects[projectIndex].subtitle }}</h4>
                <h2>{{ projectsService.projects[projectIndex].title }}</h2>
                <p>{{ projectsService.projects[projectIndex].description }}</p>

                <div class="projectTools">
                    <span *ngFor="let tool of projectsService.projects[projectIndex].tech; index as i">{{ tool }}</span>
                </div>

                <div class="techInfos">
                    <a class="projectLink" target="_blank" href="{{ projectsService.projects[projectIndex].url}}">
                        Live Test
                    </a>

                    <!-- <img src="assets/img/git.svg" class="github" routerLink="{{ projectsService.projects[projectIndex].github}}">  -->
                    <a class="githubLink" target="_blank"
                        href="{{ projectsService.projects[projectIndex].githubURL}}">To Github</a>
                </div>
            </div>
        </div>
    </div>
</div>